# Streamlit and UI components
streamlit==1.25.0
streamlit-option-menu==0.3.6

# HTTP requests
requests==2.31.0

# Utilities
python-dotenv==1.0.1
pandas==2.2.1

# Visualization libraries
matplotlib==3.8.3

# Optional components for advanced visualizations (if needed)
plotly==5.15.0
